@page
@model PersonGridViewModel
@{
    ViewData["Title"] = "Person Grid View";


}

<h2> List of the person</h2>
<div class="container mt-3">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>PersonIdentifier</th>
                <th>Name</th>
                <th>Surname</th>
                <th>DateOfBirth</th>
            </tr>
        </thead>
        <tbody>
            @foreach (System.Data.DataRow row in Model.ReadDataTable().Rows)
            {
                <tr>
                    <th scope="row">@row["ID"]</th>
                    <td>@row["NAME"]</td>
                    <td>@row["SURNAME"]</td>
                    <td type="date">@row["DATEOFBIRTH"]</td>
                </tr>

            }
        </tbody>
    </table>
</div>
